

.navbar-brand a,
li a,
ul li {
    color: ivory;
}

h1.display-1 {
    font-size: 145px;
    color: ivory;
    text-align: center;
}
p.display-1 {
    color: ivory;
    font-size: 30px;
    text-align: center;
} 

.showcase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body,
html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('/assets/dawn.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

#grad1 {
    height: 60px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, transparent);
    /* Standard syntax (must be last) */
}